{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="login-container">

    <div class="login-card">
        <h1>Create Account ✨</h1>
        <p>Join and enjoy music 🎧</p>

        <form method="POST">
            {% csrf_token %}

            <input type="text" name="first_name" placeholder="First Name (optional)">
            <input type="text" name="last_name" placeholder="Last Name (optional)">
            <input type="email" name="email" placeholder="Email">

            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password1" placeholder="Password" required>
            <input type="password" name="password2" placeholder="Confirm Password" required>

            <button type="submit">Sign Up</button>
        </form>

        <p class="signup-text">
            Already have an account? 
            <a href="{% url 'login' %}">Login</a>
        </p>
    </div>

</div>

{% endblock %}